.DS_Store
.idea
.editorconfig
pnpm-lock.yaml
.npmrc
src/assets/
.tmp
.cache/
coverage/
.nyc_output/
**/.yarn/**
**/.pnp.*
/dist*/
node_modules/
**/node_modules/

## Local
.husky
.local

.prettierrc.cjs
components.d.ts
auto-imports.d.ts
.eslintrc.cjs
.eslintignore
commitlint.config.cjs